body{
    margin: 0;
    padding: 0;
}
.heading {
    color: red;

  }
  .p-bgimage{
    background: url('./mainbg.jpg');
  }
  .content-card {
    position: relative;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: hidden;
    word-wrap: break-word;

    h2{
        font-family: Pompiere;
    font-weight: 400;
    text-transform: !important;
    line-height: 1.1 !important;
    }
    
   
  }
  .content-box {
    margin: 26.5px 0;
    padding: 60px;
    text-align: center;
    .title{
        font-size: 35px !important;
    }
   
}
  .p-wrapper {
    display: block;
    position: relative;
    height: 100%;
    font-family: proxima-nova,Helvetica Neue,sans-serif;
    background: #fff;
    min-height: 480px;
    .p-leftwrapper{
        overflow: hidden;
        left: 0;
        top: 0;
        bottom: 0;
        position: fixed;
        width: 61%;

       
    
        .p-intro{
            color: #fff;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        margin: 10% 20% 11% 10%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-pack: end;
        justify-content: flex-end;
        h2{
            font-family: Pompiere;
            font-weight: 400;
   text-transform: !important;
   line-height: 1.1 !important;
        margin: 0;
        font-size: 75px;;
        }
       
        h3{
            font-size: 17px;
        font-size: 1.0625rem;
        line-height: 22px;
        line-height: 1.375rem;
        font-family: cursive;
    font-weight: 400;
    font-size: 20px;
    
        }
        }
    }

    .bg-dec{
        background-image: url(./assets/welcometop.png), url(./assets/welcomebottom.png), url(./assets/welcomebkg.png);
    background-size: 117%, 117%, cover;
    background-position: center top, center bottom, center;
    background-repeat: no-repeat;
    }

    .p-rightwrapper{
        position: static;
        background: #fff;
        color: #333;
        width: 39%;
        margin-left: auto;
        .p-welcome {
            justify-content: center;
    min-height: 100vh;
    padding: 20px 5% 5%;
   
    .welcomeDetails{
        margin: 30px 0 15px;
    min-width: 370px;
    max-width: 100%;
    
    color: rgb(58, 60, 62);
    h2{
        max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    font-weight: 400;
    text-transform: !important;
    line-height: 1.1 !important;
    font-size: 40px;
    }
    }
        }
        
    }
}




.p-imgwrap{
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
}

.schedule-card {
    .schedule-day{
        align-self: flex-start;
    }
    
    .schedule-day-title {
        position: relative;
        margin-bottom: 40px;
    }
    .label {
        position: absolute;
        padding: 0 15px 0 0;
        top: -8px;
        left: 0;
        display: block;
        background-color: #fff;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: #e8e8e8;
        display: block;
    }
    .slot {
        position: relative;
        -ms-flex-direction: column;
        flex-direction: column;
        .information {
            padding: 0 20px 50px 10px;
            display: -ms-flexbox;
            display: flex;
            .event {
               
                display: flex;
                flex: 5;
                -ms-flex-direction: column;
                flex-direction: column;
                .name {
                    font-size: 17px;
                }
                .details p {
                    margin: 1em 0 0;
                    opacity: .7;
                    width: 100%;
                    word-break: break-word;
                }
            }
            .time-container {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -ms-flex-align: start;
                align-items: flex-start;
                text-align: left;
                padding-right: 30px;
                padding-top: 4px;
                flex: 3;
                .time {
                    width: auto;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    .start-time, .end-time {
                        display: -ms-flexbox;
                        display: flex;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 600;
                    }
                    .dash {
                        display: -ms-flexbox;
                        display: flex;
                        padding: 0 5px;
                        -ms-flex: 1;
                        flex: 1;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) {
  .p-wrapper {
    .p-leftwrapper, .p-rightwrapper{
        width: 100%;
        }
    .p-leftwrapper{
        height: calc(100vh - 65px);
        position: relative;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: hidden;
    word-wrap: break-word;
   
    }
    
    .content-box {
        margin: 10px 0;
        padding: 10px;
    }


  }
      
}

